@mixin flexSpaceBetween {
  display: flex;
  justify-content: space-between;
}

.article {
  .articleWrapper {
    margin: 30px 0;
    background-color: white;
    border: 1px solid #dbdbdb;
    .articleHeader {
      @include flexSpaceBetween();
      margin: 10px 20px;
      .articleAuthor {
        display: table;
        align-self: center;
        .authorId {
          line-height: 35px;
          padding-left: 30px;
        }
        img {
          width: 35px;
          height: 35px;
          border-radius: 35px;
        }
      }
      .dot {
        line-height: 35px;
      }
    }
    .feed {
      img {
        width: 600px;
        height: 600px;
      }
      .comments {
        padding: 10px 10px;
        .commentWrapper {
          .commentEmojis {
            @include flexSpaceBetween();
            .emoji {
              i {
                padding: 5px 5px;
                font-size: 25px;
              }
            }
          }
          .likes {
            display: inline-block;
            margin: 5px 0;
            font-size: 15px;
          }
          .oldComments {
            .comment {
              padding: 3px 0;
              line-height: 1.2;
              .commentId {
                font-weight: 800;
              }
              .commentContent {
                padding-left: 5px;
              }
              .more {
                color: rgb(142, 142, 142);
                font-size: 15px;
              }
              .likeBtn {
                float: right;
                background-color: white;
                border: none;
                line-height: 1.5;
              }
            }
          }

          .hours {
            margin: 5px 0;
            color: #dbdbdb;
            font-size: 10px;
          }

          .commentInput {
            .form {
              @include flexSpaceBetween();
              align-items: center;
              padding: 10px 15px;
              i {
                padding-right: 10px;
                font-size: 30px;
              }
              .commentArea {
                width: 80%;
                height: 100%;
                font-size: 18px;
                border: none;
                :focus {
                  outline: none;
                }
              }
              .entry {
                width: 60px;
                background-color: transparent;
                color: #4390e7;
                border: none;
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }
}
