@import 'https://fonts.googleapis.com/css2?family=Lobster&display=swap';
body {
  background-color: #fafafa;
}
.container {
  text-align: center;
  border: 1px solid #e6e6e6;
  background-color: white;
  width: 600px;
  height: 600px;
  margin: 0 auto;
}
.header {
  font-family: 'Lobster', cursive;
  font-size: 70px;
  font-weight: 1px;
  padding: 30px;
}
.loginForm {
  width: 425px;
  margin: 0 auto;
}
#id {
  display: block;
  width: 100%;
  margin: 20px 0px auto;
  font-size: 20px;
  padding: 15px;
  border: 1px solid #efefef;
  background-color: #fafafa;
  border-radius: 5px;
}
#password {
  display: block;
  width: 100%;
  margin: 20px 0px auto;
  font-size: 20px;
  padding: 15px;
  border: 1px solid #efefef;
  background-color: #fafafa;
  border-radius: 5px;
}
#loginButton {
  display: block;
  margin: 20px 0px auto;
  font-size: 20px;
  padding: 15px;
  border-radius: 5px;
  color: white;
  border: 0px;
  width: 459px;
}
.findPassword {
  text-decoration: none;
  margin-top: 180px;
  height: 50px;
  display: block;
  font-size: 18px;
}
.buttonDisabled {
  background-color: #c5e1fc;
}
.buttonActivate {
  background-color: #0095f6;
}
a {
  text-decoration: none;
}
