.nav {
  position: fixed;
  width: 100%;
  background-color: white;
  text-align: center;
  .navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    padding: 0 20px;
    border-bottom: 1px solid #dbdbdb;
    .logo {
      display: flex;
      align-items: center;
      width: 250px;
      margin-right: 130px;
      img {
        width: 25x;
        height: 25px;
      }
      .vertical {
        height: 20px;
        margin: 0 10px;
        border: 1px solid black;
      }
    }

    .searchBar {
      form {
        .searchBox {
          display: inline-block;
          width: 180px;
          height: 25px;
          margin: 0 10px;
          background-color: white;
          border: 1px solid #dbdbdb;
          border-radius: 5px;
          font-size: 13px;
        }
      }
    }

    .icons {
      display: flex;
      align-items: center;
      margin-left: 150px;
      line-height: 1;
      a {
        display: block;
        margin-left: 20px;
        i {
          width: 25px;
          height: 25px;
          font-size: 24px;
        }
      }
      img {
        width: 25px;
        height: 25px;
        margin-left: 20px;
        border-radius: 50%;
        border: 1px solid red;
      }
    }
  }
}
